
/* bakgrunnsbilder størrelse*/
.bakgrunn{
  width: 100%;
}



  /* Tilbud bilder */
  .volleyball{
    width: 40%;
    margin-left: 30%;
    border-radius: 2rem;
  }
  
  .amalieaktivbilde{
    width: 40%;
    margin-left: 30%;
    border-radius: 2rem;
  }
  


  
/* Bilder index/hjem */
.amalieskramvgs2{
    width: 60%;
    margin-left: 20%;
    border-radius: 2rem;
}

.amalieskramforfatter{
    width: 60%;
    margin-left: 20%;
    border-radius: 2rem;
}

/* Bilder med samme kode */


/* bilder produksjon og historiefortelling */
.bilde{
  width: 60%;
  margin-left: 20%;
  border-radius: 2rem;
}


/* Bilder konseptutvikling */
.konseptutvikling{
  width: 60%;
  margin-left: 20%;
  border-radius: 2rem;
}

.figmabilde{
  width: 60%;
  margin-left: 20%;
  border-radius: 2rem;
}

.steinsakspapir {
  display: flex;
  object-fit: contain;
  max-width: 100%;
  height: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}



/* Teknologiforståelse bilder */
.Hjemmenettverk-oppgaven{
  width: 60%;
  margin-left: 20%;
  border-radius: 2rem;
}

